# F21 IEOR 142 Final Project

**Group Members: Priya Kamdar, Nirmol Kaur, Harry Li, Ananya Raghavan, and Nayan Chavan**

---

In [1]:
import pandas as pd 
import numpy as np

## Dataset Pre-processing

**Dataset source:** http://insideairbnb.com/get-the-data.html

In [2]:
listing_data = pd.read_csv('data/listings.csv')
listing_data = listing_data.rename(columns = {"neighbourhood_group": "borough"})
listing_data.head()

,id,name,host_id,host_name,borough,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.33,3,340,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,76,1,408,2021-06-29,5.03,1,208,58,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.54,1,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,204,1,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,490,2021-08-14,3.64,1,243,17,NaN

In [3]:
borough = (listing_data['borough'].unique())
neighbourhoods = (listing_data['neighbourhood'].unique())

### Population Data for Boroughs

In [4]:
borough_pop = pd.read_csv('data/nyc-borough-population.csv')
borough_pop = borough_pop.drop([0])
borough_pop = borough_pop.rename(columns = {"Borough":"borough"})
borough_pop.head(6)

,Age Group,borough,1950,1950 - Boro share of NYC total,1960,1960 - Boro share of NYC total,1970,1970 - Boro share of NYC total,1980,1980 - Boro share of NYC total,...,2000,2000 - Boro share of NYC total,2010,2010 - Boro share of NYC total,2020,2020 - Boro share of NYC total,2030,2030 - Boro share of NYC total,2040,2040 - Boro share of NYC total
1,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,1332650,16.64,1385108,16.80,1446788,16.92,1518998,17.22,1579245,17.50
2,Total Population,Brooklyn,2738175,34.70,2627319,33.76,2602012,32.96,2230936,31.55,...,2465326,30.78,2552911,30.97,2648452,30.97,2754009,31.22,2840525,31.47
3,Total Population,Manhattan,1960101,24.84,1698281,21.82,1539233,19.50,1428285,20.20,...,1537195,19.20,1585873,19.24,1638281,19.16,1676720,19.01,1691617,18.74
4,Total Population,Queens,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,2229379,27.84,2250002,27.30,2330295,27.25,2373551,26.91,2412649,26.73
5,Total Population,Staten Island,191555,2.43,221991,2.85,295443,3.74,352121,4.98,...,443728,5.54,468730,5.69,487155,5.70,497749,5.64,501109,5.55

#### Appending Population Data for Boroughs

In [5]:
for i in range(len(listing_data)):
    if listing_data.loc[i, 'borough'] == 'Manhattan':
        listing_data.loc[i, '2020_population'] = '1638281'
    if listing_data.loc[i, 'borough'] == 'Bronx':
        listing_data.loc[i, '2020_population'] = '1446788'
    if listing_data.loc[i, 'borough'] == 'Brooklyn':
        listing_data.loc[i, '2020_population'] = '2648452'
    if listing_data.loc[i, 'borough'] == 'Queens':
        listing_data.loc[i, '2020_population'] = '2330295'
    elif listing_data.loc[i, 'borough'] == 'Staten Island':
        listing_data.loc[i, '2020_population'] = '487155'
listing_data.head()

,id,name,host_id,host_name,borough,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,2020_population
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.33,3,340,0,NaN,1638281
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,76,1,408,2021-06-29,5.03,1,208,58,NaN,2648452
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.54,1,365,0,NaN,2648452
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,204,1,NaN,2648452
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,490,2021-08-14,3.64,1,243,17,NaN,1638281

### Profile Data for Boroughs

In [6]:
brooklyn_profile = pd.read_csv('data/BK_NeighborhoodDataProfile.csv')
brooklyn_profile.head()

,Community District,Name,Indicator Category,Indicator,Indicator Description,2000,2006,2010,2019,2020,2000 Rank,2006 Rank,2010 Rank,2019/20 Rank
0,BK,Brooklyn,Demographics,Born in New York State,The percentage of city residents who were born...,NaN,50.3%,49.6%,49.5%,NaN,NaN,3.0,3.0,3.0
1,BK,Brooklyn,Demographics,Disabled population,The percentage of the adult population who hav...,NaN,NaN,6.4%,6.0%,NaN,NaN,NaN,4.0,5.0
2,BK,Brooklyn,Demographics,Foreign-born population,The share of the population that is born outsi...,37.8%,37.8%,37.8%,35.4%,NaN,2.0,2.0,2.0,2.0
3,BK,Brooklyn,Demographics,Population,"All people, both children and adults, living i...","2,465,326","2,508,820","2,508,340","2,559,903",NaN,NaN,NaN,NaN,NaN
4,BK,Brooklyn,Demographics,Population aged 65+,The percentage of residents who are aged 65 ye...,11.5%,12.0%,11.5%,14.4%,NaN,4.0,3.0,4.0,4.0

#### Profile data summary

In [7]:
print((brooklyn_profile['Indicator Category'].unique()))
print((brooklyn_profile['Indicator'].unique()))

['Demographics' 'Housing Market and Conditions' 'Land Use and Development'
 'Neighborhood Services and Conditions' 'Renters' nan]
['Born in New York State' 'Disabled population' 'Foreign-born population'
 'Population' 'Population aged 65+'
 'Households with children under 18 years old' 'Single-person households'
 'Percent Asian' 'Percent Black' 'Percent Hispanic' 'Percent white'
 'Racial diversity index' 'Income diversity ratio'
 'Median household income (2020$)'
 'Median household income, homeowners (2020$)'
 'Median household income, renters (2020$)' 'Poverty rate'
 'Poverty rate, population aged 65+'
 'Poverty rate, population under 18 years old'
 'Labor force participation rate'
 "Population aged 25+ with a bachelor's degree or higher"
 'Population aged 25+ without a high school diploma' 'Unemployment rate'
 'Homeownership rate' 'Housing units' 'Rental vacancy rate'
 'Serious housing code violations (per 1,000 privately owned rental units)'
 'Severe crowding rate (% of renter households)'
 'Total housing code violations (per 1,000 privately owned rental units)'
 'Notices of foreclosure rate (per 1,000 1-4 family and condo properties)'
 'Notices of foreclosure, all residential properties'
 'Notices of foreclosure, initial, 1-4 family and condo properties'
 'Notices of foreclosure, repeat, 1-4 family and condo properties'
 'Pre-foreclosure notice rate (per 1,000 1-4 family and condo properties)'
 'Pre-foreclosure notices, 1-4 family and condo properties'
 'Properties entering REO, 1-4 family'
 'FHA/VA-backed home purchase loans (% of home purchase loans)'
 'Higher-cost home purchase loans (% of home purchase loans)'
 'Higher-cost refinance loans (% of refinance loans)'
 'Home purchase loan rate (per 1,000 properties)'
 'Home purchase loans in LMI tracts (% of home purchase loans)'
 'Home purchase loans to LMI borrowers (% of home purchase loans)'
 'Refinance loan rate (per 1,000 properties)'
 'Sales volume, 1 family building' 'Sales volume, 2-4 family building'
 'Sales volume, 5+ family building' 'Sales volume, all property types'
 'Sales volume, condominium'
 'Median sales price per unit, 1 family building (2020$)'
 'Median sales price per unit, 2-4 family building (2020$)'
 'Median sales price per unit, 5+ family building (2020$)'
 'Median sales price per unit, condominium (2020$)'
 'Index of housing price appreciation, 1 family building'
 'Index of housing price appreciation, 2-4 family building'
 'Index of housing price appreciation, 5+ family building'
 'Index of housing price appreciation, all property types'
 'Index of housing price appreciation, condominium'
 'Population density (1,000 persons per square mile)'
 'Units authorized by new residential building permits'
 'Units issued new certificates of occupancy'
 'Car-free commute (% of commuters)' 'Mean travel time to work (minutes)'
 'Serious crime rate (per 1,000 residents)'
 'Serious crime rate, property (per 1,000 residents)'
 'Serious crime rate, violent (per 1,000 residents)'
 'Students performing at grade level in English language arts, 4th grade'
 'Students performing at grade level in math, 4th grade'
 'Median rent, 2- and 3-bedrooms (2020$)' 'Median rent, all (2020$)'
 'Median rent, recent movers (2020$)'
 'Median rent, studios and 1-bedrooms (2020$)' 'Median rent, asking'
 'Rental units affordable at  30% AMI (% of recently available units)'
 'Rental units affordable at  80% AMI (% of recently available units)'
 'Rental units affordable at 120% AMI (% of recently available units)'
 'Moderately rent-burdened households'
 'Moderately rent-burdened households, low income'
 'Moderately rent-burdened households, moderate income'
 'Severely rent-burdened households'
 'Severely rent-burdened households, low income'
 'Severely rent-burdened households, moderate income'
 'Housing choice vouchers (% of occupied, privately owned rental units)'
 'Public housing (% of rental units)'
 'Total number of subsidized properties (properties)'
 'HUD Financing or Insurance (properties)'
 'HUD Financing or Insurance (units)'
 'HUD Project-based Rental Assistance Program (properties)'
 'HUD Project-based Rental Assistance Program (units)'
 'Low Income Housing Tax Credit (properties)'
 'Low Income Housing Tax Credit (units)' 'Public Housing (properties)'
 'Public Housing (units)' 'Mitchell-Lama (properties)'
 'Mitchell-Lama (units)' '421-a Tax Exemption (properties)'
 '421-a Tax Exemption (units)' '420-c Tax Exemption (properties)'
 '420-c Tax Exemption (units)'
 'NYC Housing Production Programs and Zoning Incentives or Requirements (properties)'
 'Eligible to expire from housing programs between 2020 and 2025 (properties)'
 'Eligible to expire from housing programs between 2020 and 2025 (units)'
 'Eligible to expire from housing programs between 2026 and 2035 (properties)'
 'Eligible to expire from housing programs between 2026 and 2035 (units)'
 'Eligible to expire from housing programs in 2036 and later (properties)'
 'Eligible to expire from housing programs in 2036 and later (units)' nan]

In [9]:
bronx_profile = pd.read_csv('data/BX_NeighborhoodDataProfile.csv')
manhattan_profile = pd.read_csv('data/MN_NeighborhoodDataProfile.csv')
queens_profile = pd.read_csv('data/QN_NeighborhoodDataProfile.csv')
staten_profile = pd.read_csv('data/SI_NeighborhoodDataProfile.csv')

##### Indicators that we want to explore across all 5 borough profiles: 
* **Index of housing price appreciation, all property types:** "The average price changes in repeated sales of the same properties of any type (index=100 in 2000)."
* **Serious crime rate (per 1,000 residents):** "The number of serious crimes, those classified as a major felony as defined by the NYPD, committed in a given geographic area per 1,000 residents."
* **Median rent, all (2020$):** "The median gross rent, which includes the amount agreed to or specified in the lease regardless of whether furnishings, utilities, or services are included; and estimated monthly electricity and heating fuel costs paid by the renter."
* **Housing Units:** "The number of housings units, which can include a house, apartment, mobile home, group of rooms, or single room that is occupied (or is vacant and intended for occupancy) as separate living quarters."
* **Public housing (% of rental units):** "The share of all rental units located in New York City Housing Authority public housing."

#### Appending 5 Borough Profile Indicators to listing_data

In [16]:
indicators = ["Index of housing price appreciation, all property types", "Serious crime rate (per 1,000 residents)", "Median rent, all (2020$)", "Housing units", "Public housing (% of rental units)"]

In [23]:
brooklyn_indicators = brooklyn_profile[brooklyn_profile['Indicator'].isin(indicators)]
brooklyn_indicators

,Community District,Name,Indicator Category,Indicator,Indicator Description,2000,2006,2010,2019,2020,2000 Rank,2006 Rank,2010 Rank,2019/20 Rank
24,BK,Brooklyn,Housing Market and Conditions,Housing units,"The number of housings units, which can includ...",NaN,"954,382","1,000,000","1,065,363",NaN,NaN,1.0,1.0,1.0
55,BK,Brooklyn,Housing Market and Conditions,"Index of housing price appreciation, all prope...",The average price changes in repeated sales of...,100.0,230.1,173.1,302.6,317.8,NaN,2.0,3.0,1.0
62,BK,Brooklyn,Neighborhood Services and Conditions,"Serious crime rate (per 1,000 residents)","The number of serious crimes, those classified...",22.9,15.8,13.2,10.8,10.8,3.0,3.0,3.0,3.0
68,BK,Brooklyn,Renters,"Median rent, all (2020$)","The median gross rent, which includes the amou...","$1,040","$1,150","$1,270","$1,510",NaN,4.0,4.0,4.0,3.0
82,BK,Brooklyn,Renters,Public housing (% of rental units),The share of all rental units located in New Y...,NaN,NaN,NaN,NaN,8.0%,NaN,NaN,NaN,4.0

In [24]:
bronx_indicators = bronx_profile[bronx_profile['Indicator'].isin(indicators)]
bronx_indicators

,Community District,Name,Indicator Category,Indicator,Indicator Description,2000,2006,2010,2019,2020,2000 Rank,2006 Rank,2010 Rank,2019/20 Rank
24,BX,The Bronx,Housing Market and Conditions,Housing units,"The number of housings units, which can includ...",NaN,"506,396","512,024","537,197",NaN,NaN,4.0,4.0,4.0
55,BX,The Bronx,Housing Market and Conditions,"Index of housing price appreciation, all prope...",The average price changes in repeated sales of...,100.0,232.8,178.0,256.5,268.3,NaN,1.0,2.0,3.0
62,BX,The Bronx,Neighborhood Services and Conditions,"Serious crime rate (per 1,000 residents)","The number of serious crimes, those classified...",23.8,16.6,14.3,14.0,14.9,2.0,2.0,2.0,2.0
68,BX,The Bronx,Renters,"Median rent, all (2020$)","The median gross rent, which includes the amou...",$960,"$1,060","$1,140","$1,250",NaN,5.0,5.0,5.0,5.0
82,BX,The Bronx,Renters,Public housing (% of rental units),The share of all rental units located in New Y...,NaN,NaN,NaN,NaN,13.3%,NaN,NaN,NaN,1.0

In [25]:
manhattan_indicators = manhattan_profile[manhattan_profile['Indicator'].isin(indicators)]
manhattan_indicators

,Community District,Name,Indicator Category,Indicator,Indicator Description,2000,2006,2010,2019,2020,2000 Rank,2006 Rank,2010 Rank,2019/20 Rank
24,MN,Manhattan,Housing Market and Conditions,Housing units,"The number of housings units, which can includ...",NaN,"840,443","846,962","892,930",NaN,NaN,2.0,2.0,2.0
55,MN,Manhattan,Housing Market and Conditions,"Index of housing price appreciation, all prope...",The average price changes in repeated sales of...,100.0,206.0,206.2,283.4,271.4,NaN,4.0,1.0,2.0
62,MN,Manhattan,Neighborhood Services and Conditions,"Serious crime rate (per 1,000 residents)","The number of serious crimes, those classified...",32.2,22.3,17.1,17.0,15.6,1.0,1.0,1.0,1.0
68,MN,Manhattan,Renters,"Median rent, all (2020$)","The median gross rent, which includes the amou...","$1,230","$1,390","$1,530","$1,780",NaN,1.0,1.0,1.0,1.0
82,MN,Manhattan,Renters,Public housing (% of rental units),The share of all rental units located in New Y...,NaN,NaN,NaN,NaN,8.7%,NaN,NaN,NaN,2.0

In [27]:
queens_indicators = queens_profile[queens_profile['Indicator'].isin(indicators)]
queens_indicators

,Community District,Name,Indicator Category,Indicator,Indicator Description,2000,2006,2010,2019,2020,2000 Rank,2006 Rank,2010 Rank,2019/20 Rank
24,QN,Queens,Housing Market and Conditions,Housing units,"The number of housings units, which can includ...",NaN,"832,545","834,965","869,346",NaN,NaN,3.0,3.0,3.0
55,QN,Queens,Housing Market and Conditions,"Index of housing price appreciation, all prope...",The average price changes in repeated sales of...,100.0,224.3,157.9,245.8,265.7,NaN,3.0,5.0,4.0
62,QN,Queens,Neighborhood Services and Conditions,"Serious crime rate (per 1,000 residents)","The number of serious crimes, those classified...",19.1,12.4,10.3,8.4,8.9,4.0,4.0,4.0,4.0
68,QN,Queens,Renters,"Median rent, all (2020$)","The median gross rent, which includes the amou...","$1,200","$1,370","$1,460","$1,670",NaN,2.0,2.0,2.0,2.0
82,QN,Queens,Renters,Public housing (% of rental units),The share of all rental units located in New Y...,NaN,NaN,NaN,NaN,3.8%,NaN,NaN,NaN,5.0

In [28]:
staten_indicators = staten_profile[staten_profile['Indicator'].isin(indicators)]
staten_indicators

,Community District,Name,Indicator Category,Indicator,Indicator Description,2000,2006,2010,2019,2020,2000 Rank,2006 Rank,2010 Rank,2019/20 Rank
24,SI,Staten Island,Housing Market and Conditions,Housing units,"The number of housings units, which can includ...",NaN,"177,353","176,696","181,765",NaN,NaN,5.0,5.0,5.0
55,SI,Staten Island,Housing Market and Conditions,"Index of housing price appreciation, all prope...",The average price changes in repeated sales of...,100.0,204.1,167.9,219.0,236.4,NaN,5.0,4.0,5.0
62,SI,Staten Island,Neighborhood Services and Conditions,"Serious crime rate (per 1,000 residents)","The number of serious crimes, those classified...",10.5,7.6,6.3,5.1,5.2,5.0,5.0,5.0,5.0
68,SI,Staten Island,Renters,"Median rent, all (2020$)","The median gross rent, which includes the amou...","$1,150","$1,270","$1,340","$1,320",NaN,3.0,3.0,3.0,4.0
82,SI,Staten Island,Renters,Public housing (% of rental units),The share of all rental units located in New Y...,NaN,NaN,NaN,NaN,8.3%,NaN,NaN,NaN,3.0

##### We will use 2019 data or the latest available data for our indicators where 2020 is not available.

In [35]:
for i in range(len(listing_data)):
    if listing_data.loc[i, 'borough'] == 'Staten Island':
        listing_data.loc[i, 'Housing_Units'] = '181765'
    if listing_data.loc[i, 'borough'] == 'Staten Island':
        listing_data.loc[i, 'Index of housing price appreciation, all property types'] = '236.4'
    if listing_data.loc[i, 'borough'] == 'Staten Island':
        listing_data.loc[i, 'Serious crime rate (per 1,000 residents)'] = '5.2'
    if listing_data.loc[i, 'borough'] == 'Staten Island':
        listing_data.loc[i, 'Median rent, all (2020$)'] = '1320'
    if listing_data.loc[i, 'borough'] == 'Staten Island':
        listing_data.loc[i, 'Public housing (% of rental units) The share of all rental units located '] = '8.3%'

        
for i in range(len(listing_data)):
    if listing_data.loc[i, 'borough'] == 'Queens':
        listing_data.loc[i, 'Housing_Units'] = '869346'
    if listing_data.loc[i, 'borough'] == 'Queens':
        listing_data.loc[i, 'Index of housing price appreciation, all property types'] = '265.7'
    if listing_data.loc[i, 'borough'] == 'Queens':
        listing_data.loc[i, 'Serious crime rate (per 1,000 residents)'] = '8.9'
    if listing_data.loc[i, 'borough'] == 'Queens':
        listing_data.loc[i, 'Median rent, all (2020$)'] = '1670'
    if listing_data.loc[i, 'borough'] == 'Queens':
        listing_data.loc[i, 'Public housing (% of rental units) The share of all rental units located '] = '3.8%'

        
for i in range(len(listing_data)):
    if listing_data.loc[i, 'borough'] == 'Manhattan':
        listing_data.loc[i, 'Housing_Units'] = '892930'
    if listing_data.loc[i, 'borough'] == 'Manhattan':
        listing_data.loc[i, 'Index of housing price appreciation, all property types'] = '271.4'
    if listing_data.loc[i, 'borough'] == 'Manhattan':
        listing_data.loc[i, 'Serious crime rate (per 1,000 residents)'] = '15.6'
    if listing_data.loc[i, 'borough'] == 'Manhattan':
        listing_data.loc[i, 'Median rent, all (2020$)'] = '1780'
    if listing_data.loc[i, 'borough'] == 'Manhattan':
        listing_data.loc[i, 'Public housing (% of rental units) The share of all rental units located '] = '8.7%'


for i in range(len(listing_data)):
    if listing_data.loc[i, 'borough'] == 'Bronx':
        listing_data.loc[i, 'Housing_Units'] = '537197'
    if listing_data.loc[i, 'borough'] == 'Bronx':
        listing_data.loc[i, 'Index of housing price appreciation, all property types'] = '268.3'
    if listing_data.loc[i, 'borough'] == 'Bronx':
        listing_data.loc[i, 'Serious crime rate (per 1,000 residents)'] = '14.9'
    if listing_data.loc[i, 'borough'] == 'Bronx':
        listing_data.loc[i, 'Median rent, all (2020$)'] = '1250'
    if listing_data.loc[i, 'borough'] == 'Bronx':
        listing_data.loc[i, 'Public housing (% of rental units) The share of all rental units located '] = '13.3%'

        
for i in range(len(listing_data)):
    if listing_data.loc[i, 'borough'] == 'Brooklyn':
        listing_data.loc[i, 'Housing_Units'] = '1065363'
    if listing_data.loc[i, 'borough'] == 'Brooklyn':
        listing_data.loc[i, 'Index of housing price appreciation, all property types'] = '317.8'
    if listing_data.loc[i, 'borough'] == 'Brooklyn':
        listing_data.loc[i, 'Serious crime rate (per 1,000 residents)'] = '10.8'
    if listing_data.loc[i, 'borough'] == 'Brooklyn':
        listing_data.loc[i, 'Median rent, all (2020$)'] = '1510'
    if listing_data.loc[i, 'borough'] == 'Brooklyn':
        listing_data.loc[i, 'Public housing (% of rental units) The share of all rental units located '] = '8.0%'

In [36]:
listing_data.head()

,id,name,host_id,host_name,borough,neighbourhood,latitude,longitude,room_type,price,...,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,2020_population,Housing_Units,"Index of housing price appreciation, all property types","Serious crime rate (per 1,000 residents)","Median rent, all (2020$)",Public housing (% of rental units) The share of all rental units located
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,...,3,340,0,NaN,1638281,892930,271.4,15.6,1780,8.7%
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,76,...,1,208,58,NaN,2648452,1065363,317.8,10.8,1510,8.0%
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,...,1,365,0,NaN,2648452,1065363,317.8,10.8,1510,8.0%
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,...,1,204,1,NaN,2648452,1065363,317.8,10.8,1510,8.0%
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,...,1,243,17,NaN,1638281,892930,271.4,15.6,1780,8.7%